

@media screen and (max-width:850px){
    body{
        padding: 0;
        margin: 0;
    }
    header button {
        display: block;
        
    }
    header button >i{
        width: fit-content;
        
    }
    nav{
        display: none;
    }
    #phonenav{
        margin-left: 0px;
        margin-top: -21px;
        display: none;
        width: 50vw;
        height: 100vh;
        font-family: 'Snippet',sans-serif;
        font-weight: bold;
        background: rgba(202,219,200,100%);
    }
    
    #phonenav ul li{
        list-style-type: none;
        margin-top: 10%;
        
    }
    .active{
        font-size: x-large;

    }
    #phonenav ul>li{
        display: block;
        margin-bottom: 10%;
        background: rgba(202,219,200,100%);
        
    }
    #desktopButton{
        margin: 3%;
        background: rgba(202,219,200,100%);
        border: 1px solid rgba(202,219,200,100%);
        border-radius: 2px;
    }
    #mobileButton{
        margin: 6%;
        background: rgba(227,239,220,100%);
        border: 1px solid rgba(202,219,200,100%);
        border-radius: 2px;
    }
    .phoneimg{
        display: block;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    .desktop{
        display: none;
    }
    .firstdiv{
        width: 34%;
        height: auto;
        text-align: center;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border-radius: 58px 58px 0 58px;
        margin-top: 8%;
        margin-left: 8%;
        background: rgba(139, 170, 115, 90%);
    }
    .firstdiv>p{
        padding: 1%;
        font-family: 'Snippet',sans-serif;
        font-size: 150%;
        margin: 0;
    }
    h1{
        margin-top: 4%;
        margin-left: 18%;
        font-family: 'Asap', sans-serif;
        font-size: 200%;
    }
    .para{
        margin-top: 0;
        margin-left: 18%;
        font-family: 'Asap', sans-serif;
        font-size: xx-large;
    }
    .icondiv{
        margin-left: 18%;
        margin-bottom: 3%;
        font-family: 'Asap', sans-serif;
    }
    .icondiv a button{
        background: rgba(139, 170, 115, 90%);
        border: 1px solid rgba(139, 170, 115, 90%);
        border-radius: 2%;
        font-size: 90%;
        margin-right: 1%;
        margin-top: 3%;
    }
    .icon{
        margin-right: 3%;
    }
    .links{
        margin-top: 5%;
        margin-left: 40%;
    }
    .links a i{
        color: #000000;
        text-decoration: none;
        margin-right: 7%;
    }
}


@media screen and (min-width:850px){
    header button{
        display: none;
    }
    ul{
        text-align: center;
        margin-top: 2%;
    }
    .active{
        border-bottom: 1px solid #000000;
        box-shadow: #000000;
    }
    ul li{
        display: inline;
        font-size: xx-large;
        margin-right: 3%;
        font-family: 'Snippet',sans-serif;
    }
    #phonenav{
        display: none;
    }
    .left{
        float: left;
        width: 30%;
        margin-left: 8%;
    }
    .desktop{
        display: inline-block;
        clear: both;
        text-align: center;
        margin-left: 23%;
        width: 13%;
    }
    .firstdiv{
        width: 12%;
        height: auto;
        text-align: center;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border-radius: 58px 58px 0 58px;
        margin-top: 8%;
        margin-left: 6%;
        background: rgba(139, 170, 115, 90%);
    }
    .firstdiv>p{
        padding: 0;
        font-family: 'Snippet',sans-serif;
        font-size: 150%;
        margin: 0;
    }
    .phoneimg{
        display: none;
    }
    h1{
        margin-top: 8%;
        margin-left: 6%;
        font-family: 'Asap', sans-serif;
        font-size: 200%;
    }
    .para{
        margin-top: 0;
        margin-left: 6%;
        font-family: 'Asap', sans-serif;
        font-size: xx-large;
    }
    .icondiv{
        margin-left: 6%;
        margin-bottom: 3%;
        font-family: 'Asap', sans-serif;
    }
    .icondiv a button{
        background: rgba(139, 170, 115, 90%);
        border: 1px solid rgba(139, 170, 115, 90%);
        border-radius: 2%;
        font-size: 100%;
        margin-right: 1%;
        margin-top: 3%;
    }
    .icon{
        margin-right: 3%;
    }
    .links{
        margin-top: 7%;
        margin-left: 35%;
    }
    .links a i{
        color: #000000;
        text-decoration: none;
        margin-right: 7%;
    }
}

@media screen and (min-width:960px){
    ul{
        text-align: center;
        margin-top: 2%;
    }
    header button{
        display: none;
    }
    .active{
        border-bottom: 1px solid #000000;
        box-shadow: #000000;
    }
    ul li{
        display: inline;
        font-size: xx-large;
        margin-right: 3%;
        font-family: 'Snippet',sans-serif;
    }
    #phonenav{
        display: none;
    }
    .left{
        float: left;
        width: 30%;
        margin-left: 8%;
    }
    .desktop{
        display: inline-block;
        clear: both;
        text-align: center;
        margin-left: 23%;
        width: 13%;
    }
    .firstdiv{
        width: 12%;
        height: auto;
        text-align: center;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border-radius: 58px 58px 0 58px;
        margin-top: 8%;
        margin-left: 8%;
        background: rgba(139, 170, 115, 90%);
    }
    .firstdiv>p{
        padding: 0;
        font-family: 'Snippet',sans-serif;
        font-size: 150%;
        margin: 0;
    }
    .phoneimg{
        display: none;
    }
    h1{
        margin-top: 8%;
        margin-left: 15%;
        font-family: 'Asap', sans-serif;
        font-size: 200%;
    }
    .para{
        margin-top: 0;
        margin-left: 15%;
        font-family: 'Asap', sans-serif;
        font-size: xx-large;
    }
    .icondiv{
        margin-left: 18%;
        font-family: 'Asap', sans-serif;
        margin-bottom: 3%;
    }
    .icondiv a button{
        background: rgba(139, 170, 115, 90%);
        border: 1px solid rgba(139, 170, 115, 90%);
        border-radius: 2%;
        font-size: 100%;
        margin-right: 1%;
        margin-top: 3%;
    }
    .icon{
        margin-right: 3%;
    }
    .links{
        margin-top: 5%;
        margin-left: 40%;
    }
    .links a i{
        color: #000000;
        text-decoration: none;
        margin-right: 7%;
    }
}

@media screen and (min-width:1200px){

    

    ul{
        text-align: center;
        margin-top: 4%;
    }
    header button{
        display: none;
    }
    .active{
        border-bottom: 1px solid #000000;
        box-shadow: #000000;
    }
    ul li{
        display: inline;
        font-size: xx-large;
        margin-right: 4%;
        font-family: 'Snippet',sans-serif;
    }
    #phonenav{
        display: none;
    }
    .left{
        float: left;
        width: 30%;
        margin-left: 8%;
    }
    .desktop{
        display: inline-block;
        clear: both;
        text-align: center;
        margin-left: 23%;
        width: 13%;
    }
    .phoneimg{
        display: none;
    }
    .firstdiv{
        width: 12%;
        height: auto;
        text-align: center;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border-radius: 58px 58px 0 58px;
        margin-top: 8%;
        margin-left: 8%;
        background: rgba(139, 170, 115, 90%);
    }
    .firstdiv>p{
        padding: 0;
        font-family: 'Snippet',sans-serif;
        font-size: 200%;
        margin: 0;
    }
    section{
        display: block;
    }
    h1{
        margin-top: 8%;
        margin-left: 24%;
        font-family: 'Asap', sans-serif;
        font-size: 200%;
    }
    .para{
        margin-top: 1%;
        margin-left: 26%;
        margin-bottom: 8%;
        font-family: 'Asap', sans-serif;
        font-size: xx-large;
    }
    
    .icondiv{
        margin-left: 30%;
        margin-bottom: 3%;
        font-family: 'Asap', sans-serif;
    }
    .icondiv a button{
        background: rgba(139, 170, 115, 90%);
        border: 1px solid rgba(139, 170, 115, 90%);
        border-radius: 2%;
        font-size: 100%;
        margin-right: 1%;
        margin-top: 3%;
    }
    .icon{
        margin-right: 4%;
    }
    .links{
        margin-top: 5%;
        margin-left: 40%;
    }
    .links a i{
        color: #000000;
        text-decoration: none;
        margin-right: 7%;
    }
    
}


html{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: auto;
    background: linear-gradient(180deg,rgba(227,239,220,100%) 50%,rgba(202,219,200,100%) 50%);
}